body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: helvetica;
}

.avatar {
    width: 150px;
    border-radius: 10px;
    border: solid 6px #162B6E;
}

img{
    object-fit: cover;
    
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background: #E5002B;
    color: #ffff;
    border-bottom: 8px solid #FCC94A;
    border-radius: 24px;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover{
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background: #E3E6B0;
    color: #2e2e2e;
    border-bottom: 8px solid #EE1D30;
    border-radius: 24px;
    transition: 0.4s;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

